main {
  padding: 2rem 1.5rem;
  border-top-left-radius: 1.25rem;
  background-color: var(--grey);
}

main .divider {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
  width: 100%;
  color: var(--dark);
}

main .divider > div {
  background: var(--light);
  border-radius: 1rem;
  padding: 1.5rem;
  overflow-x: auto;
}
