.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--light);
  overflow-x: hidden;
}

.content-true {
  width: calc(100% - 3.75rem);
}

.content-false {
  position: relative;
  width: calc(100% - 14rem);
}

@media screen and (max-width: 616px) {
  .content-true {
    width: inherit;
  }

  .content-false {
    width: inherit;
  }
}
